.page {
  width: 100vw;
  height: 100vh;
  min-height: 620px;
  overflow: hidden;
  background: var(--color-page);
}

@media (max-width: 760px) {
  .page {
    min-height: 100vh;
    overflow: auto;
  }
}
